@import "global";
@import "bs";
@import "~bootstrap-vue/src/index";

.btn {
  font-size: 14px;
  font-weight: $font-weight-bold;
  line-height: 36px;
  padding: 0 15px;
  border-radius: 2px;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: rgba($value, .1);
    border-color: transparent;
    color: $value;
  }
}