$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Poppins", Arial, sans-serif, "Apple Color Emoji" !default;

$black:    #000000 !default;
$gray-900: #212529 !default;
$gray-800: #363a3e !default;
$gray-700: #616568 !default;
$gray-600: #777a7d !default;
$gray-500: #8c8f92 !default;
$gray-400: #a2a4a6 !default;
$gray-300: #b8b9bb !default;
$gray-200: #e3e4e5 !default;
$gray-100: #f8f9fa !default;
$white:    #FFFFFF !default;

$purple: #666ee8 !default;
$green:  #28d094 !default;
$blue:   #1e9ff2 !default;
$yellow: #ffc06a !default;
$red:    #ff4961 !default;

$primary: $purple !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;

$zindex-fullscreen: 9999;
$zindex-tooltip: 1600;
$zindex-popover: 1500;
$zindex-aside: 1400;
$zindex-modal: 1300;
$zindex-modal-bg: 1200;
$zindex-dropdown: 1100;
$zindex-header: 1000;
