.anggota-avatar {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  .avatar-action {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    .btn {
      position: relative;
      input {
        display: block;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}