.search-results {
  display: flex;
  flex-direction: column;
  z-index: 100;
  left: 0;
  right: 0;
  box-shadow: $box-shadow-sm;

  .search-result {
    display: block;
    padding: 15px;
    color: $gray-600;
    text-decoration: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .heading {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 8px;
    }

    .description {
      font-size: 13px;
      font-weight: 300;
      margin: 0;
    }
  }
}