.block-ui-wrap {
  position: relative !important;
  overflow: hidden !important;
  .block-ui {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(kt-state-color(light), .9);
    .block-ui-spinner {
      margin: auto;
    }
  }
}