.app-layout {
  position: relative;
  display: block;
  min-height: 100vh;
  background-color: kt-base-color(grey, 1);
  padding-left: 110px;
  transition: padding-left 150ms ease-in-out;
  &.hide-sidebar {
    padding-left: 0px;
    .sidebar {
      left: -115px;
    }
  }
  @include kt-mobile {
    padding-left: 0px;
  }
}