.hero-wrapper {
  padding: 15% 0;
  background-position: center;
  background-size: cover;
  display: flex;
  .form-hero {
    position: relative;
    opacity: 0.8;
    margin: auto;
    padding: 5px;
    width: 50%;
    text-align: center;

    input {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: $black;
      cursor: pointer;
    }

    .message {
      width: 100%;
      padding: 30px;
      border: 1px dashed $primary;
    }

    .progress {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: $primary;
      transition: width 100ms ease;
    }
  }
}